
.login {
  color: #20d489 !important;
}

.logout {
  color: #7e8299;
}


.imgCreate{
  width: 30%;
}


.marTop18 {
  margin-top: 18%;
}


.marTop14 {
  margin-top: 14%;
}

.marTop10 {
  margin-top: 10%;
}

.marTop8 {
  margin-top: 8%;
}

.marNavLeft {
  margin-left: 18px;
}