/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* Override the default bootstrap behavior where horizontal description lists 
     will truncate terms that are too long to fit in the left column 
  */
  .dl-horizontal dt {
    white-space: normal;
  }
  
  /* Set width on the form input elements since they're 100% wide by default */
  /* input,
  select,
  textarea {
      max-width: 280px;
  } */
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #4fd26d;
    border-color: #4fd26d;
  }
  
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #4fd26d;
    background-color: #4fd26d;
  }
  .marTop25{
    margin-top: 25%;
  }
  .marTopAcc {
    margin-top: 3%;
  }
  
  .btn100 {
    width: 100%;
  }
  
  .btnLog {
    color: #fff;
    white-space: nowrap;
    display: inline-block;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #0072ff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    border-color: #0072ff;
  }
  
  .btnLog:hover {
    background-color: #003f8e;
    border-color: #003f8e;
    transform: translateY(-1px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }
  
  .btnLog:focus {
    background-color: #0072ff;
    border-color: #003f8e;
    box-shadow: 0 0 0 0.1rem rgba(122, 0, 255, 0.4) !important;
  }
  
  .btnLog:active {
    background-color: #4AE56E !important;
    border-color: #4AE56E !important;
  }
  
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #4AE56E;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(58 191 93 / 40%) !important;
  }
  
  .withform {
    width: 50%;
  }
  
  .btnAcconuntRegister {
    white-space: nowrap;
    display: inline-block;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #3ABF5D;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    border-color: #4fd26d;
  }
  
  .btnAcconuntRegister:hover {
    background-color: #fff;
    color: #4fd26d;
    border-color: #4fd26d;
    transform: translateY(-1px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }
  
  .btnAcconuntRegister:focus {
    background-color: #fff;
    color: #4fd26d;
    border-color: #4AE56E;
    box-shadow: 0 0 0 0.1rem rgba(122, 0, 255, 0.4) !important;
  }
  
  .btnAcconuntRegister:active {
    background-color: #fff !important;
    color: #4fd26d;
    border-color: #4AE56E !important;
  }
  
  .btnAcconunt {
    white-space: nowrap;
    display: inline-block;
    line-height: 45px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 0px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    background: #3ABF5D;
    border-radius: .75rem;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #ECEFFA;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    border-color: #3ABF5D;
  }
  
  .btnAcconunt:hover {
    background-color: #3ABF5D;
    border-color: #4fd26d;
    transform: translateY(-1px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }
  
  .btnAcconunt:focus {
    background-color: #4AE56E;
    border-color: #4AE56E;
    box-shadow: 0 0 0 0.1rem rgba(122, 0, 255, 0.4) !important;
  }
  
  .btnAcconunt:active {
    background-color: #4AE56E !important;
    border-color: #4AE56E !important;
  }
  
  a.globalFooterCard,
  div.globalFooterCard {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-top: 15px;
    z-index: 499;
    z-index: calc(500 - 1);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    padding: 40px 40px 40px 40px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
    transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, transform;
    transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    text-decoration: none !important;
  }
  
  a.globalFooterCard:active,
  a.globalFooterCard:hover,
  div.globalFooterCard:active,
  div.globalFooterCard:hover {
    -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, .25), 0 18px 36px -18px rgba(0, 0, 0, .3), 0 -12px 36px -8px rgba(0, 0, 0, .025);
  }
  
  a.globalFooterCard:hover,
  div.globalFooterCard:hover {
    color: #32325d !important;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  
  .navUser {
    color: #4AE56E !important;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  
  .navUser:hover {
    color: #4fd26d !important;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
  
  a.globalFooterCard h2,
  div.globalFooterCard h2 {
    margin: 0 0 5px;
    white-space: normal;
    text-decoration: none;
  }
  
  .common-UppercaseText {
    color: #4AE56E;
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
  }
  
  a.globalFooterCard p,
  div.globalFooterCard p {
    margin: 5px 0 0;
    text-decoration: none;
  }
  
  .common-BodyText {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f;
    text-decoration: none;
  }
  
  .iconGames {
    margin-top: 33%;
  }
  
  .navbrand {
    color: #4AE56E !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
  }
  
  .formsGlobal {
    height: 50px;
    background-color: #fff;
    border: 0px solid #fff;
  
    box-shadow: 0 0 13px 0px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    border-radius: .75rem;
    /* -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
    transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
    transition-property: color, background-color, box-shadow, transform;
    transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
    /* -webkit-transition-duration: .15s;
    transition-duration: .15s;
    text-decoration: none !important; */
  }
  
  .navbrand:hover {
    color: #4fd26d !important;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
  }
  
  .linkAccount {
    color: #4AE56E !important;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-decoration: none;
  }
  
  .linkAccount:hover {
    color: #4fd26d !important;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    text-decoration: none;
  }
  
  .chart {
    position: relative;
    height: 300px;
  }
  
  .chartjs-size-monitor,
  .chartjs-size-monitor-expand,
  .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
  }
  
  .chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
  }
  
  .bgdark {
    background-color: #12263f;
  }
  
  .bgdarkfont {
    color: #fff;
  }
  
  .moneyNav {
    color: #7aff00 !important;
    text-shadow: 0 0 6px #7aff00, 0 0 2px #7aff00;
  }
  
  .custom-range::-webkit-slider-thumb {
    background: #3ABF5D;
  }
  
  .custom-range::-moz-range-thumb {
    background: #3ABF5D;
  }
  
  .custom-range::-ms-thumb {
    background: #3ABF5D;
  }
  a {
    color: #4fd26d;
    text-decoration: none;
    background-color: transparent;
  }
  /* This is the default state */
  
  /* This is the checked state */
  .custom-radio .custom-control-input:checked~.custom-control-label::before,
  .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #4fd26d;  /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 100%;
  }
  
  /* active state i.e. displayed while the mouse is being pressed down */
  .custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #4fd26d; /* red */
  }
    
  /* the shadow; displayed while the element is in focus */
  .custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #4fd26d40; /* pink, 25% opacity */
  }
  .padmar0{
    margin: 0;
    padding: 0;
  }
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
     border-top: 0px solid #dee2e6;
  }
  
  .swal2-icon.swal2-success {
    border-color: #3ABF5D !important;
    color: #3ABF5D !important;
  }
  .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #370074;
    color: #fff;
    font-size: 1.0625em;
  }

  .black{
    color:#121518;
  }
  .white{
      color:#ECEFFA;
  }
  .green{
      color:#3ABF5D;
  }
  .marTop18{
      margin-top: 18%;
  }

  .imgLogIn{
    width: 119%;
  }
  .marginTop{
    margin-top: 3%;
  }
  
  a:hover {
    color: #3ABF5D;
}